<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>demo01</title>
    <link rel="stylesheet" href="/flow/static/lib/element-ui/element.css">
    <script src="/flow/static/common/constant.js"></script>
    <script src="/flow/static/common/utils.js"></script>
    <script src="/flow/static/lib/vue/vue.js"></script>
    <script src="/flow/static/lib/element-ui/element.js"></script>
    <script src="/flow/static/lib/jquery/jquery3.5.1.js"></script>
</head>
<body>
<body>
<div id="app">
    <el-form ref='base' size="small" :inline="true" class="query-from" @submit.native.prevent>
        <div style="background-color: #f2f2f2;padding-top: 5px" ref="formHeader">
            <el-form-item>
                <el-button  @click="dialogVisible=true" type="primary">新增流程</el-button>
            </el-form-item>
            <el-form-item>
                <el-input placeholder="流程名字"
                          v-model="query.flowName"
                          clearable
                          prefix-icon="el-icon-search" ></el-input>
            </el-form-item>
            <el-form-item>
                <el-date-picker
                        type="daterange"
                        v-model="query.time"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-button size="mini" icon="el-icon-search" @click="conditionFormQuery" style="margin-bottom: 12px;height: 32px;">查询</el-button>
        </div>
    </el-form>
    <div>
        <el-table
                :data="tableData"
                :style="TheStyle"
                stripe border highlight-current-row>
            <el-table-column
                    prop="userName"
                    label="创建人">
            </el-table-column>
            <el-table-column
                    prop="mainName"
                    label="流程名称">
            </el-table-column>
            <el-table-column
                    prop="stopText"
                    label="状态">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间">
            </el-table-column>
        </el-table>
        <div style="height: 10px"></div>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[10,15]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </div>
    <el-dialog
            :close-on-click-modal="false"
            title="新增流程"
            :visible.sync="dialogVisible"
            width="55%"
            :before-close="handleClose">
        <el-form ref="addForm" :model="form" label-width="150px" size="mini" :inline="true" status-icon :label-position="right">
            <el-form-item label="流程名称">
                <el-input></el-input>
            </el-form-item>
            <el-form-item label="是否启用">
                <el-radio v-model="mainMode.radio" label="1">启用</el-radio>
                <el-radio v-model="mainMode.radio" label="2">停用</el-radio>
            </el-form-item>
            <el-divider></el-divider>
            <el-button type="primary">新增节点</el-button>
            <el-button type="danger">删除节点</el-button>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
  </span>
    </el-dialog>
</div>
</body>

<script>
    var vm = new Vue({
        el: '#app',
        data: function () {
            return {
                dialogVisible: false,
                mainMode: {
                    radio: 1,
                },
                query: {
                    flowName: '',
                    time: null
                },
                TheStyle: {
                    'min-height': '60px',
                    'width': '100%',
                    'height': '100%',
                    'overflow': 'auto'
                },
                currentPage: 1,
                pageSize: 10,
                total:100,
                tableData: []
            }
        },
        created: function () {
            this.conditionFormQuery()
        },
        methods: {
            handleClose(done) {
                // this.$confirm('确认关闭？')
                //     .then(_ => {
                //         done();
                //     })
                //     .catch(_ => {});
            },
            handleSizeChange(val) {
                this.pageSize = val
            },
            handleCurrentChange(val) {
                this.currentPage = val
            },
            conditionFormQuery: function() {

                let _this = this;
                var startTime = null
                var endTime = null

                if(_this.query.time) {

                    startTime = formatDate(_this.query.time[0], 'yyyy-MM-dd')
                    endTime = formatDate(_this.query.time[1], 'yyyy-MM-dd')
                }

                $.ajax({
                    type:"get",
                    url:GLOBAL_API.FlowManage.QUERY,
                    data:Object.assign({
                        flowName: _this.query.flowName,
                        startTime: startTime,
                        endTime: endTime,
                        limit: _this.pageSize,
                        page: _this.currentPage
                    }),
                    dataType:'json',
                    success:function(data){
                        _this.tableData = data.datas
                    }

                });
            }
        }
    })

</script>
</body>
</html>