<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>demo01</title>
    <link rel="stylesheet" href="/flow/static/lib/element-ui/element.css">
    <script src="/flow/static/common/constant.js"></script>
    <script src="/flow/static/common/utils.js"></script>
    <script src="/flow/static/lib/vue/vue.js"></script>
    <script src="/flow/static/lib/element-ui/element.js"></script>
    <script src="/flow/static/lib/jquery/jquery3.5.1.js"></script>
</head>
<body>
<body>
<div id="app">
    <el-form ref='base' size="small" :inline="true" class="query-from" @submit.native.prevent>
        <div style="background-color: #f2f2f2;padding-top: 5px" ref="formHeader">
            <el-form-item>
                <el-button  @click="mainFormDialogVisible=true" type="primary">新增流程</el-button>
            </el-form-item>
            <el-form-item>
                <el-input placeholder="流程名字"
                          v-model="query.flowName"
                          clearable
                          prefix-icon="el-icon-search" ></el-input>
            </el-form-item>
            <el-form-item>
                <el-date-picker
                        type="daterange"
                        v-model="query.time"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-button size="mini" icon="el-icon-search" @click="conditionFormQuery" style="margin-bottom: 12px;height: 32px;">查询</el-button>
        </div>
    </el-form>
    <div>
        <el-table
                :data="tableData"
                :style="TheStyle"
                stripe border highlight-current-row>
            <el-table-column
                    prop="userName"
                    label="创建人">
            </el-table-column>
            <el-table-column
                    prop="mainName"
                    label="流程名称">
            </el-table-column>
            <el-table-column
                    prop="stopText"
                    label="状态">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间">
            </el-table-column>
        </el-table>
        <div style="height: 10px"></div>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[10,15]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </div>
    <el-dialog
            :close-on-click-modal="false"
            title="新增流程"
            :visible.sync="mainFormDialogVisible"
            width="55%"
            :before-close="handleClose">
        <el-form ref="addForm" :model="mainForm" label-width="100px" size="mini" :inline="true" status-icon :label-position="labelPosition">
            <el-form-item label="流程名称">
                <el-input></el-input>
            </el-form-item>
            <el-form-item label="是否启用">
                <el-radio v-model="mainMode.radio" label="1">启用</el-radio>
                <el-radio v-model="mainMode.radio" label="2">停用</el-radio>
            </el-form-item>
            <el-divider></el-divider>
            <el-button size="mini" type="primary" @click="nodeFormDialogVisible = true">新增节点</el-button>
            <el-button size="mini" type="danger">删除节点</el-button>
            <div style="height: 10px"></div>
            <el-table
                    :data="addNodeTableData"
                    :style="TheStyle"
                    stripe border highlight-current-row>
                <el-table-column
                        prop="nodeStatus"
                        label="节点类型">
                </el-table-column>
                <el-table-column
                        prop="nodeName"
                        label="环节名称">
                </el-table-column>
                <el-table-column
                        prop="limitTime"
                        label="限时">
                </el-table-column>
                <el-table-column
                        prop="waitNode"
                        label="上一环节">
                </el-table-column>
                <el-table-column
                        prop="nextNode"
                        label="下一环节">
                </el-table-column>
            </el-table>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="mainFormDialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="mainFormDialogVisible = false">确 定</el-button>
  </span>
    </el-dialog>

    <el-dialog
            title="新增节点"
            :visible.sync="nodeFormDialogVisible"
            width="65%"
            :before-close="handleClose">
        <el-form ref="nodeForm" :model="nodeForm" label-width="100px" size="mini" :inline="true" status-icon :label-position="labelPosition">
            <el-form-item label="环节名称">
                <el-input  style="width: 180px" placeholder="请输入环节名称"></el-input>
            </el-form-item>
            <el-form-item label="当前key">
                <el-input  style="width: 180px" placeholder="请输入环节名称"></el-input>
            </el-form-item>
            <el-form-item label="环节限时">
                <el-input oninput="value=value.replace(/[^\d]/g,'')"
                          maxLength='3'
                          style="width: 180px"
                          v-model="nodeForm.limit"
                          placeholder="请输入限时,单位为天" ></el-input>
            </el-form-item>
            <el-form-item label="节点类型">
                <el-select style="width: 180px" v-model="nodeForm.nodeTypeValue" placeholder="请选择">
                    <el-option
                            v-for="item in nodeForm.nodeTypes"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="审批类型">
                <el-select @change="approvalTypeChange($event)"  style="width: 180px" v-model="nodeForm.approvalTypeValue" placeholder="请选择">
                    <el-option
                            v-for="item in nodeForm.approvalTypes"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="指定角色">
                <el-select  style="width: 180px" v-model="nodeForm.specRoleValue" placeholder="请选择">
                    <el-option
                            v-for="item in nodeForm.specRoles"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="上一环节">
                <el-input  style="width: 180px" placeholder="上一环节的key" ></el-input>
            </el-form-item>
            <el-form-item label="下一环节">
                <el-input  style="width: 180px" placeholder="下一环节的key" ></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="nodeFormDialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="nodeFormDialogVisible = false">确 定</el-button>
  </span>
    </el-dialog>
</div>
</body>

<script>
    var vm = new Vue({
        el: '#app',
        data: function () {
            return {
                mainFormDialogVisible: false,
                nodeFormDialogVisible: false,
                labelPosition: "right",
                mainMode: {
                    radio: 1,
                },
                mainForm: {

                },
                nodeForm: {
                    limit:3,
                    //创建、常规、分支、结束归档
                    nodeTypes: [{
                        value: '1',
                        label: '创建'
                    }, {
                        value: '2',
                        label: '常规'
                    }, {
                        value: '3',
                        label: '分支'
                    }, {
                        value: '4',
                        label: '结束归档'
                    }],
                    nodeTypeValue: '',
                    approvalTypes:[
                        {
                            value: '1',
                            label: '部门'
                        }, {
                            value: '2',
                            label: '角色'
                        }, {
                            value: '3',
                            label: '人员'
                        },
                    ],
                    approvalTypeValue: '',
                    specRoles:[],
                    specRoleValue: ''
                },
                query: {
                    flowName: '',
                    time: null
                },
                TheStyle: {
                    'min-height': '60px',
                    'width': '100%',
                    'height': '100%',
                    'overflow': 'auto'
                },
                currentPage: 1,
                pageSize: 10,
                total:100,
                tableData: [],
                addNodeTableData:[]
            }
        },
        created: function () {
            this.conditionFormQuery()
        },
        methods: {
            approvalTypeChange(value) {

                let _this = this;
                var url;

                switch(value) {
                    case 1:
                        //部门
                        url = GLOBAL_API.Dept.SELECT_QUERY
                        break;
                    case 2:
                        //角色
                        url = GLOBAL_API.ROLE.COMBOX
                        break;
                    case 3:
                        //人员
                        url = GLOBAL_API.ADMIN.GET_USER_COMBOX
                        break
                    default:
                        break
                }

                if(!url) {
                    $.ajax({
                        type:"get",
                        url:url,
                        data: {},
                        // data:Object.assign({
                        //     flowName: _this.query.flowName,
                        //     startTime: startTime,
                        //     endTime: endTime,
                        //     limit: _this.pageSize,
                        //     page: _this.currentPage
                        // }),
                        dataType:'json',
                        success:function(data){
                            _this.specRoles = data.datas
                        }
                    });
                }
            },
            handleClose(done) {
                done()
            },
            handleSizeChange(val) {
                this.pageSize = val
            },
            handleCurrentChange(val) {
                this.currentPage = val
            },
            conditionFormQuery: function() {

                let _this = this;
                var startTime = null
                var endTime = null

                if(_this.query.time) {

                    startTime = formatDate(_this.query.time[0], 'yyyy-MM-dd')
                    endTime = formatDate(_this.query.time[1], 'yyyy-MM-dd')
                }

                $.ajax({
                    type:"get",
                    url:GLOBAL_API.FlowManage.QUERY,
                    data:Object.assign({
                        flowName: _this.query.flowName,
                        startTime: startTime,
                        endTime: endTime,
                        limit: _this.pageSize,
                        page: _this.currentPage
                    }),
                    dataType:'json',
                    success:function(data){
                        _this.tableData = data.datas
                    }

                });
            }
        }
    })

</script>
</body>
</html>