<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>个人作品录入</title>
  <link rel="stylesheet" href="/srm/static/lib/element-ui/element.css">
  <script src="/srm/static/common/constant.js"></script>
  <script src="/srm/static/common/utils.js"></script>
  <script src="/srm/static/lib/vue/vue.js"></script>
  <script src="/srm/static/lib/element-ui/element.js"></script>
  <script src="/srm/static/lib/jquery/jquery3.5.1.js"></script>
  <script src="/srm/static/component/base/base.js"></script>
  <link rel="stylesheet" href="/srm/static/component/table/table.css">
  <script src="/srm/static/component/table/table.js"></script>
  <script src="/srm/static/component/formDialog/formDialog.js"></script>
  <link rel="stylesheet" href="/srm/static/component/formDialog/formDialog.css">
</head>
<body>
<div id="app">
  <base-component ref="base"
                  @current-row-change="currentRowChange"
                  @row-click="rowClick"
                  :dialogs="dialogs"
                  :table="table"
                  :form="form">

    <template slot="addDialogSlot">
      <el-form :inline="true" status-icon class="action-form" ref="producForm" :rules="activeFormRules" :model="activeModel" size="mini">
        <el-col>
          <el-form-item label="作品类型" prop="productType">
            <el-select v-model="activeModel.productType" placeholder="请选择">
              <el-option
                      v-for="item in productTypes"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="作品标题" prop="title">
            <el-input placeholder="请输入作品标题" v-model="activeModel.title" size="small"  style="width:350px;"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="发布地址" prop="address">
            <el-input placeholder="请输入发布地址"  v-model="activeModel.address" size="small"  style="width:350px"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="创作人员" prop="person">
            <el-input placeholder="请输入全部的创作人员"   v-model="activeModel.person" size="small"  style="width:350px"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="担任职务" prop="work">
            <el-input placeholder="请输入担任职务"  v-model="activeModel.work" size="small"  style="width:350px"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="备注内容" prop="remark">
            <el-input placeholder="请输入备注内容" :rows="5" type="textarea"  v-model="activeModel.remark" style="width:350px"></el-input>
          </el-form-item>
        </el-col>
      </el-form>
    </template>

    <template slot="editDialogSlot">
      <el-form :inline="true" status-icon class="action-form" ref="editProducForm" :rules="activeFormRules" :model="activeModel" size="mini" label-position="right" label-width="100px">
        <el-col>
          <el-form-item label="作品类型" prop="productType">
            <el-select v-model="activeModel.productType" placeholder="请选择">
              <el-option
                      v-for="item in productTypes"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="作品标题" prop="title">
            <el-input placeholder="请输入作品标题" v-model="activeModel.title" size="small"  style="width:350px;"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="发布地址" prop="address">
            <el-input placeholder="请输入发布地址"  v-model="activeModel.address" size="small"  style="width:350px"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="创作人员" prop="person">
            <el-input placeholder="请输入全部的创作人员"   v-model="activeModel.person" size="small"  style="width:350px"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="担任职务" prop="work">
            <el-input placeholder="请输入担任职务"  v-model="activeModel.work" size="small"  style="width:350px"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="备注内容" prop="remark">
            <el-input placeholder="请输入备注内容" :rows="5" type="textarea"  v-model="activeModel.remark" style="width:350px"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="审核意见">
            <el-input placeholder="请输入审核意见" :rows="5" type="textarea"  v-model="activeModel.backRemark" style="width:350px"></el-input>
          </el-form-item>
        </el-col>
      </el-form>
    </template>


  </base-component>
</div>
<script>

  var vueObj = new Vue({
    el: '#app',
    data: function() {

      var addUploaderMod = {
        uploader:
                {
                  fileUrls: '', //文件url
                  thumbUrls: '',//如果有缩略图的话有值
                  label: '上传附件（支持图片、PDF、Word。仅供内部查阅，不对外公开）',
                  accept: 'image/*,.pdf,.doc,.docx', //可以接受的文件类型
                  size: 6,
                  props: {
                    split: ';',
                    name: 'mediaFiles' //传到后台的key
                  },
                  list:true,
                }
      };

      let _this = this
      return {
        currentRow: null,
        productTypes: [],
        activeModel: {
          title: '',
          address: '',
          person: '',
          work: '',
          remark: '',
          productType: '',
          backRemark: ''
        },
        activeFormRules: {
          title: [
            { required: true, message: '请输入作品标题', trigger: 'blur' },
          ],
          address: [
            { required: true, message: '请输入发布地址', trigger: 'blur' },
          ],
          person: [
            { required: true, message: '请输入创作人员', trigger: 'blur' },
          ],
          work: [
            { required: true, message: '请输入担任职务', trigger: 'blur' },
          ],
          remark: [
            { required: true, message: '请输入备注内容', trigger: 'blur' },
          ],
          productType: [
            { required: true, message: '请选择录入类型', trigger: 'blur' },
          ]
        },
        form: {
          //操作按钮
          buttons: [
            {type: 'add', bindRef: 'addDialog', label: '个人作品录入'},
          ],
          //查询条件
          inputs: [
            {name: 'userName', placeholder: '请输入创作人员姓名'},
            {name: 'title', placeholder: '请输入作品标题'}
          ],
          selects: [{
            name: 'status',
            placeholder: '审核状态',
            clearable: false,
            options: [{
              value: 1,
              label: '待审核'
            }, {
              value: 2,
              label: '已审核'
            },{
              value: 3,
              label: '退回'
            }]
          }]
        },
        table: {
          url: GLOBAL_API.PRODUCT.MANAGE_PRODUCT,
          cols: [
            {
              prop: "person",
              label: "创作人员",
              //width: 100
            },
            {
              prop: "title",
              label: "标题",
            },
            {
              prop: "statusText",
              label: "状态",
            },
            {
              prop: "createTime",
              label: "创建时间"
            },
            {
              prop: "checkUserName",
              label: "审核人"
            },
            {
              prop: "checkTime",
              label: "审核时间"
            }
          ],
          enumMap:{
            //status: GLOBAL_ENUM.STATUS
          },
        },
        dialogs:[{
          ref: 'addDialog',
          type:'',
          title: '个人作品录入',
          items: [

          ],
          module: addUploaderMod,
          manual: true,
          submitUrl: GLOBAL_API.PRODUCT.SUBMIT,
          handler: function (innerVm, formData, rawData, cb, ref, url) {

            _this.$refs.producForm.validate(function (valid, object) {

              if (!valid) {
                cb()
                return
              }

              formData.append("title", _this.activeModel.title)
              formData.append("address", _this.activeModel.address)
              formData.append("person", _this.activeModel.person)
              formData.append("work", _this.activeModel.work)
              formData.append("remark", _this.activeModel.remark)
              formData.append("productType", _this.activeModel.productType)
              //formData.append("opId", rawData['opId'])

              $.ajax({
                method: "POST",
                url: url,
                data: formData,
                processData: false,
                contentType: false,

              }).done(function (resData) {

                if (resData.code !== 100) {
                  innerVm.$message.error(resData.desc || '操作失败');
                  cb()
                  return
                }
                innerVm.$message.success("操作成功");
                innerVm.refreshTable()
                innerVm.getComp(ref).hide()
                _this.$refs['producForm'].resetFields()
                cb()
              }).fail(function (res) {
                console.error(res)
                innerVm.$message.error("网络异常");
                cb()
              })
            })
          }
        },{
          ref: 'editDialog',
          title: '修改个人作品',
          items: [

          ],
          buttons:[{
            label: '退回',
            type: 'danger',
            url: GLOBAL_API.PRODUCT.BACK,
          },{
            label: '通过',

            url: GLOBAL_API.PRODUCT.PASS,
          }],
          module: addUploaderMod,
          manual: true,
          paramFields: ['opId'],
          enumMap: {

          },
          requireRow: true,
          handler: function (innerVm, formData, rawData, cb, ref, url) {

            _this.$refs.editProducForm.validate(function (valid, object) {

              if (!valid) {
                cb()
                return
              }

              formData.append("title", _this.activeModel.title)
              formData.append("address", _this.activeModel.address)
              formData.append("person", _this.activeModel.person)
              formData.append("work", _this.activeModel.work)
              formData.append("remark", _this.activeModel.remark)
              formData.append("productType", _this.activeModel.productType)
              formData.append("backRemark", _this.activeModel.backRemark)
              formData.append("opId", rawData['opId'])

              $.ajax({
                method: "POST",
                url: url,
                data: formData,
                processData: false,
                contentType: false,

              }).done(function (resData) {

                if (resData.code !== 100) {
                  innerVm.$message.error(resData.desc || '操作失败');
                  cb()
                  return
                }
                innerVm.$message.success("操作成功");
                innerVm.refreshTable()
                innerVm.getComp(ref).hide()
                cb()
              }).fail(function (res) {
                console.error(res)
                innerVm.$message.error("网络异常");
                cb()
              })
            })
          }
        }],
      }
    },
    mounted: function (){
      this.setProductType()
    },
    methods: {
      setProductType: function () {
        let _this = this

        $.ajax({
          method: "get",
          url: GLOBAL_API.PRODUCT.GET_PRODUCT_TYPE_COMBOX,
          data: {},
        }).done(function (resData) {
          _this.productTypes = resData
        }).fail(function (res) {
          console.error(res)
        })
      },
      rowClick: function (row) {
        this.$refs.base.showFormDialog("editDialog", row)
      },
      currentRowChange: function (val) {

        this.currentRow = val

        if(val && val.title) {
          this.activeModel.title = val.title
          this.activeModel.remark = val.remark
          this.activeModel.work = val.work
          this.activeModel.person = val.person
          this.activeModel.address = val.address
          this.activeModel.productType = val.productType
          this.activeModel.backRemark = val.backRemark
        }
      },
      getBaseQueryParam: function () {
        var query = this.$refs.base.getQueryParam()
        console.log(query)
      },
      queryParam: function(val) {
        //base.js中有emit会调用这个参数,并传递val过来
        console.log("监听到导航栏的值发生变化")
        console.log(val)
      }
    }
  })

</script>
</body>
</html>